<%- include('../partials/header')%>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Cadastrar Aluno</h1>
            <form action="/alunos/cadastrarAlunos" method="POST">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control" type="text" id="nome" name="nome" placeholder="nome do produto"
                        required>
                </div>
                <div class="form-group">
                    <label for="data_nascimento">Data de Nascimento</label>
                    <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" required>
                </div>
                <div class="form-group">
                    <label for="turma">Turma</label>
                    <select class="form-control" id="turma" name="turma" required>
                        <option value="">Escolha</option>
                        <option value="A">Turma A</option>
                        <option value="B">Turma B</option>
                        <option value="C">Turma C</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="matricula">Matrícula</label>
                    <input type="number" class="form-control" id="matricula" name="matricula">
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer')%>